doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Web Day ESGI - Conférence de développement Web à l'ESGI
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/freelancer.css', rel='stylesheet', type='text/css')
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
  body#page-top.index
    //
       Navigation
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        //
           Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#page-top') Web Day ESGI
        //
           Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')
            li.page-scroll
              a(href='#speakers') Speakers
            li.page-scroll
              a(href='#about') À propos
            li.page-scroll
              a(href='#contact') Contact

    block content

    footer.text-center
      .footer-above
        .container
          .row
            .footer-col.col-md-4
              h3 Location
              p
                | 21 Rue Erard
                br
                | 75012 Paris
            .footer-col.col-md-4
              h3 Retrouvez-nous
              ul.list-inline
                li
                  a.btn-social.btn-outline(href='#')
                    i.fa.fa-fw.fa-facebook
                li
                  a.btn-social.btn-outline(href='#')
                    i.fa.fa-fw.fa-twitter
            .footer-col.col-md-4
              h3 A propos de ce thème
              p
                | Freelance est un thème Bootstrap libre de droit et open source créé par
                a(href='http://startbootstrap.com')  Start Bootstrap
                | .
      .footer-below
        .container
          .row
            .col-lg-12
              | Copyright © 2014 -
              a(href="http://esgi.fr")  ESGI
    .scroll-top.page-scroll.visible-xs.visble-sm
      a.btn.btn-primary(href='#page-top')
        i.fa.fa-chevron-up

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='/javascripts/classie.js')
    script(src='/javascripts/cbpAnimatedHeader.min.js')
    script(src='/javascripts/freelancer.js')
